body{
	

	background-color: #121744;
	
	
}




.nav-list-1{
	list-style: none;
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	background-color:#262626;
	width: 100%;
	padding: 20px;
}
	


.nav-list-2{
	list-style: none;
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	background-color:black;
	width: 100%;
	padding: 30px;
}




.past-winners{
	display: block;
	margin: auto;
	text-align: center;
	background-color: orange;
}



h1, h2{
	
text-align: center;
color: white;

}


label{
	
color: white;
	
}

p{
	text-align: center;
	color: white;
}

a{
	
	color: orange;
}

ul{
	text-align: center;
	color: white;
	list-style: none;
}


.button{
	
	display: block;
	margin: auto;
	text-align: center;
	background-color: transparent;
	color: grey;
}


.anime{
	
	background-color: black;
	width:18%;
	padding-left: 25px;
	padding-bottom: 10px
}

.anime_category{
	
	color: rgb(251,171,94);
	text-align: center;
}

.anime_title{
	
	color: white;
	text-align: center;
}



a{
	color: rgb(244,117,33);
}

.submit{
	
	
	background-color: rgb(244,117,33);
}

.past-winners{
	
	background-color: rgb(244,117,33);
}

.button{
	
	background-color: rgb(244,117,33);
}